<!-- View in Browser -->
<tr class="mktoModule" id="vib" mktoName="View in Browser" mktoAddByDefault="true" mktoActive="true">
  <td style="background-color:${mod_bg-color:white2};">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width:100%;">
      <tr>
        <td style="padding-left:20px; padding-right:20px; padding-top:${mod_padding-top:md}px; padding-bottom:${mod_padding-bottom:md}px;">
          <table class="link-${mod_link-toggle:normal}" width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width:100%;">
            <tr>
              <td align="${psm_text-align:center}">
                <div class="mktoText" id="vib.psm" mktoName="Paragraph (sm)" style="font-family:${em_font-family}; font-size:${psm_font-size}px; line-height:${psm_line-height}px; font-weight:${psm_font-weight}; text-align:${psm_text-align:center}; color:${psm_color};">
                  View in Browser <br/><span style="color: #2F6E61"><a href="{{system.viewAsWebpageLink}}" target="_blank" style="color:#2F6E61 !important; text-decoration:underline;">Click Here</a></span>
                  <!-- <a href="{{system.viewAsWebpageLink}}" target="_blank" style="color:#888888; text-decoration:underline;">View in Browser</a> -->
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
<!-- /View in Browser -->