<!-- CTA (a) -->
<tr class="mktoModule" id="cta-a" mktoName="CTA (a)" mktoAddByDefault="false" mktoActive="true">
  <td style="background-color:${mod_bg-color:white1};">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width:100%;">
      <tr>
        <td style="padding-left:60px; padding-right:60px; padding-top:${mod_padding-top:md}px; padding-bottom:${mod_padding-bottom:md}px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width:100%;">
            <tr>
              <td align="${cta_align:left}">
                <table class="mob-align-${cta_mob-align:center}" border="0" cellpadding="0" cellspacing="0" style="width:${cta_width:174-270}px;">
                  <tr>
                    <td style="margin-left:10px; margin-right:10px; margin-top:12px; margin-bottom:12px; background-color:${cta_bg-color:b}; border:${cta_border-width:b}px solid ${cta_border-color:b}; border-radius:${cta_border-radius:a}px;">
                      <div class="mktoText" id="cta-a.cta" mktoName="CTA" style="font-family:${em_font-family}; font-size:${cta_font-size:a}px; font-weight:${cta_font-weight:a}; text-align:center; padding:12px 10px; color:${cta_font-color:white} !important">
                        <a href="#" target="_blank" style="color:${cta_font-color:white}; text-decoration:none; display:block; text-align:center;">CTA Button (A)</a>
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
<!-- /CTA (a) -->

<!-- CTA (b) -->
<tr class="mktoModule" id="cta-b" mktoName="CTA (b)" mktoAddByDefault="false" mktoActive="true">
  <td style="background-color:${mod_bg-color:primary};">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width:100%;">
      <tr>
        <td style="padding-left:60px; padding-right:60px; padding-top:${mod_padding-top:md}px; padding-bottom:${mod_padding-bottom:md}px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width:100%;">
            <tr>
              <td align="${cta_align:left}">
                <table class="mob-align-${cta_mob-align:center}" border="0" cellpadding="0" cellspacing="0" style="width:${cta_width:174-270}px;">
                  <tr>
                    <td style="margin-left:10px; margin-right:10px; margin-top:12px; margin-bottom:12px; background-color:${cta_bg-color:a}; border:${cta_border-width:a}px solid ${cta_border-color:b}; border-radius:${cta_border-radius:a}px;">
                      <div class="mktoText" id="cta-b.cta" mktoName="CTA" style="font-family:${em_font-family}; font-size:${cta_font-size:a}px; font-weight:${cta_font-weight:a}; text-align:center; padding:12px 10px; color:${cta_font-color:primary} !important">
                        <a href="#" target="_blank" style="color:${cta_font-color:primary}; text-decoration:none; display:block; text-align:center;">CTA Button (A)</a>
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
<!-- /CTA (b) -->

<!-- CTA (c) -->
<tr class="mktoModule" id="cta-c" mktoName="CTA (c)" mktoAddByDefault="false" mktoActive="true">
  <td style="background-color:${mod_bg-color:white1};">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width:100%;">
      <tr>
        <td style="padding-left:60px; padding-right:60px; padding-top:${mod_padding-top:md}px; padding-bottom:${mod_padding-bottom:md}px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width:100%;">
            <tr>
              <td align="${cta_align:center}">
                <table class="mob-align-${cta_mob-align:center}" border="0" cellpadding="0" cellspacing="0" style="width:${cta_width:174-270}px;">
                  <tr>
                    <td style="margin-left:10px; margin-right:10px; margin-top:12px; margin-bottom:12px; background-color:${cta_bg-color:b}; border:${cta_border-width:b}px solid ${cta_border-color:b}; border-radius:${cta_border-radius:a}px;">
                      <div class="mktoText" id="cta-c.cta" mktoName="CTA" style="font-family:${em_font-family}; font-size:${cta_font-size:a}px; font-weight:${cta_font-weight:a}; text-align:center; padding:12px 10px; color:${cta_font-color:white} !important">
                        <a href="#" target="_blank" style="color:${cta_font-color:white}; text-decoration:none; display:block; text-align:center;">CTA Button (A)</a>
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
<!-- /CTA (c) -->

<!-- CTA (d) -->
<tr class="mktoModule" id="cta-d" mktoName="CTA (d)" mktoAddByDefault="false" mktoActive="true">
  <td style="background-color:${mod_bg-color:primary};">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width:100%;">
      <tr>
        <td style="padding-left:60px; padding-right:60px; padding-top:${mod_padding-top:md}px; padding-bottom:${mod_padding-bottom:md}px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width:100%;">
            <tr>
              <td align="${cta_align:center}">
                <table class="mob-align-${cta_mob-align:center}" border="0" cellpadding="0" cellspacing="0" style="width:${cta_width:174-270}px;">
                  <tr>
                    <td style="margin-left:10px; margin-right:10px; margin-top:12px; margin-bottom:12px; background-color:${cta_bg-color:a}; border:${cta_border-width:a}px solid ${cta_border-color:b}; border-radius:${cta_border-radius:a}px;">
                      <div class="mktoText" id="cta-d.cta" mktoName="CTA" style="font-family:${em_font-family}; font-size:${cta_font-size:a}px; font-weight:${cta_font-weight:a}; text-align:center; padding:12px 10px; color:${cta_font-color:primary} !important">
                        <a href="#" target="_blank" style="color:${cta_font-color:primary}; text-decoration:none; display:block; text-align:center;">CTA Button (A)</a>
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
<!-- /CTA (d) -->

<!-- CTA (e) -->
<tr class="mktoModule" id="cta-e" mktoName="CTA (e)" mktoAddByDefault="false" mktoActive="true">
  <td style="background-color:${mod_bg-color:white1};">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width:100%;">
      <tr>
        <td style="padding-left:60px; padding-right:60px; padding-top:${mod_padding-top:md}px; padding-bottom:${mod_padding-bottom:md}px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width:100%;">
            <tr>
              <td align="${cta_align:right}">
                <table class="mob-align-${cta_mob-align:center}" border="0" cellpadding="0" cellspacing="0" style="width:${cta_width:174-270}px;">
                  <tr>
                    <td style="margin-left:10px; margin-right:10px; margin-top:12px; margin-bottom:12px; background-color:${cta_bg-color:b}; border:${cta_border-width:b}px solid ${cta_border-color:b}; border-radius:${cta_border-radius:a}px;">
                      <div class="mktoText" id="cta-e.cta" mktoName="CTA" style="font-family:${em_font-family}; font-size:${cta_font-size:a}px; font-weight:${cta_font-weight:a}; text-align:center; padding:12px 10px; color:${cta_font-color:white} !important">
                        <a href="#" target="_blank" style="color:${cta_font-color:white}; text-decoration:none; display:block; text-align:center;">CTA Button (A)</a>
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
<!-- /CTA (e) -->

<!-- CTA (f) -->
<tr class="mktoModule" id="cta-f" mktoName="CTA (f)" mktoAddByDefault="false" mktoActive="true">
  <td style="background-color:${mod_bg-color:primary};">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width:100%;">
      <tr>
        <td style="padding-left:60px; padding-right:60px; padding-top:${mod_padding-top:md}px; padding-bottom:${mod_padding-bottom:md}px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width:100%;">
            <tr>
              <td align="${cta_align:right}">
                <table class="mob-align-${cta_mob-align:center}" border="0" cellpadding="0" cellspacing="0" style="width:${cta_width:174-270}px;">
                  <tr>
                    <td style="margin-left:10px; margin-right:10px; margin-top:12px; margin-bottom:12px; background-color:${cta_bg-color:a}; border:${cta_border-width:a}px solid ${cta_border-color:b}; border-radius:${cta_border-radius:a}px;">
                      <div class="mktoText" id="cta-f.cta" mktoName="CTA" style="font-family:${em_font-family}; font-size:${cta_font-size:a}px; font-weight:${cta_font-weight:a}; text-align:center; padding:12px 10px; color:${cta_font-color:primary} !important">
                        <a href="#" target="_blank" style="color:${cta_font-color:primary}; text-decoration:none; display:block; text-align:center;">CTA Button (A)</a>
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
<!-- /CTA (f) -->